* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('header-background.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: absolute;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
}

header h1 {
    font-size: 3rem;
}

header p {
    margin: 20px 0;
    font-size: 1.2rem;
}

header .btn {
    padding: 10px 20px;
    background: #ff7b54;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

header .btn:hover {
    background: #ff5722;
}

.section {
    padding: 50px 0;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
}

.section p {
    text-align: center;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #b4aeae94;
}

.project p {
    text-align: left;sssss
}

.project:hover {
    transform: translateY(-10px);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
